.about-one {
    position: relative;
    background: $ogency-black;
    padding: 0 0 113px;

    @media (max-width: 991px) {
        padding-bottom: 80px;
    }
}
.about-one__thumb{
    position: relative;
    margin: 31px 0 0px;

    &__round--top{
        width: 190px;
        height: 190px;
        background-color: $ogency-black2;
        border-radius: 50%;
        position: absolute;
        left: -31px;
        top: -31px;
        -webkit-animation: scalings 1.5s alternate infinite;
        -moz-animation: scalings 1.5s alternate infinite;
        -ms-animation: scalings 1.5s alternate infinite;
        -o-animation: scalings 1.5s alternate infinite;
        animation: scalings 1.5s alternate infinite;
    }
    &__img{
        background-color: $ogency-black;
        border-radius: 50%;
        display: inline-block;
        overflow: hidden;
        position: relative;

        img{
            max-width: 100%;
            height: auto;
            mix-blend-mode: luminosity;
            transition: all 500ms ease;
        }
    }
    &__round--bottom{
        width: 56px;
        height: 56px;
        background-color: $ogency-base;
        border-radius: 50%;
        position: absolute;
        left: -76px;
        bottom: 43px;
        animation: animationFrames 20s infinite linear;

        @media (max-width: 991px){
            left: 0;
        }
        @media (max-width: 767px){
            animation: none;
        }
    }
}
.about-one__content{
    position: relative;

    @media (max-width: 991px){
        margin-top: 40px;
    }

    .section-title{
        margin-bottom: 31px;
    }
    &__text-one{
        margin: 0;
    }
    &__text-two{
        margin-bottom: 40px;
    }
}
/*-- About Two --*/
.about-two{
    position: relative;
    background-color: $ogency-black;
    background-size: auto;
    background-position: top left;
    background-repeat: no-repeat;
    padding: 120px 0;

    @media (max-width: 767px){
        padding: 80px 0 60px;
    }
}
.about-two__left{
    position: relative;

    .section-title{
        margin-bottom: 50px;

        @media (max-width: 767px){
            margin-bottom: 35px;
        }
    }
    &--text{
        color: $ogency-white;
        margin: 8px 0 0;
    }
}
.about-two__right{
    position: relative;
    margin-top: 146px;

    @media (max-width: 767px){
        margin-top: 90px;
    }

    &--text{
        line-height: 30px;
        margin-bottom: 30px;
    }
    &--quote{
        color: $ogency-white;
        line-height: 30px;
        margin: 0 0 34px;
        padding: 0 0 0 21px;
        position: relative;

        &::before{
            height: 72%;
            width: 1px;
            content: '';
            background-color: $ogency-base;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}
.fact-two__item{
    position: relative;

    @media (max-width: 767px){
        margin-bottom: 30px;
    }
    .fact-one__item__count{
        margin-left: -4px;
    }
    .fact-one__item__title{
        max-width: 100%;
    }
}
.divider-section{
    background-color: $ogency-black;
}
.br-divider{
    border-top: 1px solid $ogency-black2;
}
/*-- About Three --*/
.about-three{
    background-color: $ogency-black;
    position: relative;
    padding: 120px 0;

    @media (max-width: 767px){
        padding: 80px 0;
    }
}
.about-three__thumb{
    position: relative;
    padding-left: 170px;

    @media (max-width: 767px){
        padding-left: 0;
    }
    @media (min-width: 992px) and (max-width: 1199px){
        margin-right: -70px;
    }

    &--one{
        background-color: $ogency-black2;
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 1;

        @media (max-width: 767px){
            position: relative;
            margin-bottom: 25px;
        }

        img{
            mix-blend-mode: luminosity;
            max-width: 100%;
        }
    }
    &--two{
        background-color: $ogency-black2;
        display: inline-block;
        position: relative;

        img{
            mix-blend-mode: luminosity;
            max-width: 100%;
        }
    }
}



.about-three__content{
    position: relative;
    padding: 0 0 0 70px;

    @media (max-width: 991px){
        padding: 50px 0 0;
    }

    .section-title{
        margin-bottom: 35px;
    }

    &__heading{
        color: $ogency-base;
        font-size: 24px;
        letter-spacing: -.96px;
        margin-bottom: 16px;
    }
    &__text{
        line-height: 30px;
        margin-bottom: 39px;
    }
}
.about-three__author{
    position: relative;
    padding: 0 0 0 93px;
    min-height: 70px;

    &__thumb{
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid $ogency-base;
        padding: 2.5px;
        background-color: $ogency-black;
        position: absolute;
        left: 0;
        top: 0;

        img{
            width: 100%;
            height: 100%;
            border-radius: 100%;
            object-fit: cover;
            mix-blend-mode: luminosity;
        }
    }
    &__meta{
        color: $ogency-white;
        margin: 9px 0 0;
    }
}

