.custom-cursor__cursor {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	border: 1px solid $ogency-base;
	-webkit-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	position: fixed;
	pointer-events: none;
	left: 0;
	top: 0;
	-webkit-transform: translate(calc(-50% + 5px), -50%);
	transform: translate(calc(-50% + 5px), -50%);
	z-index: 999991;
}

.custom-cursor__cursor-two {
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: $ogency-base;
	opacity: .3;
	position: fixed;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	pointer-events: none;
	-webkit-transition: width .3s, height .3s, opacity .3s;
	transition: width .3s, height .3s, opacity .3s;
	z-index: 999991;
}

.custom-cursor__hover {
	background-color: $ogency-base;
	opacity: 0.4;
}

.custom-cursor__innerhover {
	width: 25px;
	height: 25px;
	opacity: .4;
}