.service-one{
    background-color: $ogency-black;
    position: relative;
    padding: 70px 0 90px;

    @media (max-width: 991px) {
        padding: 40px 0 50px;
    }
    &--service-page{
      padding: 120px 0 30px;
  
      @media (max-width: 767px){
        padding: 80px 0 0;
      }
    }
}
.service-one__item{
    position: relative;
    background-color: $ogency-black2;
    padding: 40px 50px 33px;

    @media (min-width: 992px) and (max-width: 1199px){
        padding: 40px 28px 33px;
    }
    @media (max-width: 991px) {
        margin-bottom: 30px;
    }

    &__icon{
        font-size: 62px;
        line-height: 1;
        color: $ogency-white;
        display: inline-block;
        margin: 0 0 21px;
        transition: 500ms ease;

        span{
            display: inline-block;
            transition: all 500ms linear;
            transition-delay: 0s;
            transition-delay: 0.1s;
            transform: scale(1);
        }
    }
    &:hover &__icon{
        color: $ogency-base;

        span{
            transform: scale(0.9);
        }
    }

    &__title{
        font-size: 18px;
        letter-spacing: -.72px;
        line-height: 24px;
        max-width: 135px;
        margin: 0 0 19px;

        a{
            color: inherit;

            &:hover{
                color: $ogency-base;
            }
        }
    }

    &__text{
        font-size: 14px;
        line-height: 24px;
        margin: 0 0 9px;
        padding: 0 0 24px;
        border-bottom: 1px solid RGBA($ogency-white-rgb, 0.1);
    }

    &__btn{
        display: inline-block;
        color: $ogency-color;
        font-size: 12px;
        text-transform: capitalize;
  
        span{
            display: inline-block;
            font-size: 18px;
            margin: 0 0 0 5px;
            top: 4px;
            position: relative;
            transition: transform 400ms ease;
        }
        &:hover{
            color: $ogency-base;
  
            span{
                transform: rotate(-45deg);
            }
        }
    }
}
/*-- Service 2 --*/
.service-two{
    background-color: $ogency-black;
    position: relative;
    padding: 120px 0 90px;

    @media (max-width: 991px) {
        padding: 80px 0 50px;
    }
}
.service-two__item{
    position: relative;
    background-color: $ogency-black2;
    margin: 0 0 30px;
    overflow: hidden;

    &__shape{
        position: absolute;
        right: 0;
        top: 0;
        width: 105px;
        height: 264px;
        background-position: left bottom;
    }
    &__icon{
        font-size: 64px;
        line-height: 1;
        color: $ogency-base;
        display: inline-block;
        margin: 0 0 21px;
        transition: 500ms ease;
        
        span{
            display: inline-block;
            transition: all 500ms linear;
            transition-delay: 0s;
            transition-delay: 0.1s;
            transform: scale(1);
        }
    }
    &:hover &__icon span{
        transform: scale(0.9);
    }
    &__title{
        font-size: 22px;
        letter-spacing: -.88px;
        line-height: 30px;
        margin: 0 0 14px;

        a{
            color: inherit;

            &:hover{
                color: $ogency-base;
            }
        }
    }
    &__text{
        font-size: 15px;
        line-height: 30px;
        margin: 0;
        transition: 500ms ease;
    }
    &:hover &__text{
        color: RGBA($ogency-white-rgb, 0.7);
    }
    &__btn{
        position: absolute;
        right: 50px;
        top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $ogency-white;
        background-color: $ogency-black;
        font-size: 16px;
        transition: 500ms ease;
        width: 51px;
        height: 51px;
        border-radius: 50%;

        &:hover{
            background-color: $ogency-base;
            color: $ogency-white;
        }
    }
    &__inner{
        width: 100%;
        height: 100%;
        position: relative;
        display: block;
        overflow: hidden;
        transition-delay: .1s;
        transition-timing-function: ease-in-out;
        transition-duration: .5s;
        transition-property: all;
        z-index: 2;
        padding: 50px 50px 47px;

        @media (max-width: 1199px){
            padding-left: 30px;
            padding-right: 28px;
        }
    }
    &:hover &__inner{
        background-color: $ogency-black2;
    }
    &__hover{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .10;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $ogency-black2;
        background-blend-mode: luminosity;
        background-position: center top;
        transition-delay: .1s;
        transition-timing-function: ease-in-out;
        transition-duration: .5s;
        transition-property: all;
        transform-origin: top;
        transform-style: preserve-3d;
        transform: scaleY(0);
        z-index: -1;
    }
    &:hover &__hover{
        transform: scaleY(1.0);
    }
}

/*-- Service 3 --*/
.service-three{
    background-color: $ogency-black;
    position: relative;
    padding: 120px 0 90px;

    &__text{
        line-height: 30px;
        margin: 41px 10px 0 0;

        @media (max-width: 1199px) {
            margin-right: 0;
        }

        @media (max-width: 767px) {
            margin: 0 0 45px;
        }
    }
    @media (max-width: 1400px) {
        padding-left: 0;
        padding-right: 0;
    }

    @media (max-width: 767px) {
        padding: 80px 0 50px;
    }
    &__container{
        max-width: 1632px;
    }&--service-page{
    padding-bottom: 100px;

    @media (max-width: 767px){
      padding-bottom: 80px;
    }
  }
  &--service-page{
    padding: 80px 0 70px;

    @media (max-width: 767px){
      padding: 130px 0 50px;
    }
  }
}
.service-three__item{
    position: relative;
    margin: 0 4px 30px;
    overflow: hidden;

    @media (max-width: 991px) {
        margin-left: 0;
        margin-right: 0;
    }
    @media (min-width: 1200px) and (max-width: 1500px) {
        margin-left: 0;
        margin-right: 0;
    }

    &__thumb{
        position: relative;
        background-color: $ogency-black2;
        transition: 500ms ease;

        img{
            width: 100%;
            height: auto;
            mix-blend-mode: luminosity;
            transition: 500ms ease;
        }
    }
    &:hover &__thumb img{
        opacity: .3;
    }
    &__normal{
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 288px;
        height: 288px;
        padding: 20px;
        background-color: RGBA($ogency-base-rgb, 0.9);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-transition: -webkit-transform 400ms ease;
        transition: -webkit-transform 400ms ease;
        transition: transform 400ms ease;
        transition: transform 400ms ease, -webkit-transform 500ms ease;

        @media (min-width: 1200px) and (max-width: 1500px) {
            width: 265px;
            height: 265px;
        }
        @media (min-width: 1200px) and (max-width: 1300px) {
            width: 235px;
            height: 235px;
        }

        &__title{
            font-size: 30px;
            letter-spacing: -1.2px;
            margin: 0;
            text-align: center;
            max-width: 200px;
        }
    }
    &:hover &__normal{
        background-position: bottom left;
        -webkit-transform: scale(1, 0);
        transform: scale(1, 0);
        -webkit-transform-origin: bottom center;
        transform-origin: bottom center;
    }
    &__hover{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        padding: 53px 60px 50px;
        visibility: hidden;
        opacity: 0;
        -webkit-animation-duration: .6s;
        animation-duration: .6s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;

        @media (min-width: 1200px) and (max-width: 1500px) {
            padding: 45px 45px 42px;
        }
        @media (min-width: 1200px) and (max-width: 1300px) {
            padding: 35px 30px 30px;
        }

        &__title{
            font-size: 30px;
            letter-spacing: -1.2px;
            margin: 0 0 23px;
            max-width: 200px;

            a{
                color: inherit;

                &:hover{
                    color: $ogency-base;
                }
            }
        }
        &__text{
            color: $ogency-white;
            line-height: 30px;
            margin: 0;
        }
        &__btn {
            display: inline-block;
            color: var(--ogency-white);
            font-size: 14px;
            text-transform: capitalize;
            border-top: 1px solid RGBA($ogency-white-rgb, 0.1);
            padding-top: 10px;
            position: absolute;
            bottom: 53px;
            left: 60px;
            right: 60px;

            @media (min-width: 1200px) and (max-width: 1500px) {
                bottom: 40px;
                left: 45px;
                right: 45px;
            }

            span{
                display: inline-block;
                font-size: 22px;
                color: $ogency-base;
                margin: 0 0 0 11px;
                top: 5px;
                position: relative;
                transition: transform 400ms ease;
            }
            &:hover{
                color: $ogency-base;

                span{
                    transform: rotate(-45deg);
                }
            }
        }
    }
    &:hover &__hover{
        visibility: visible;
        opacity: 1;
        animation-delay: .3s;
        animation-name: fadeInDown;
    }

}
.service-page__carousel{
    background-color: $ogency-black;
    position: relative;
    padding: 120px 0;

    @media (max-width: 767px){
        padding: 80px 0;
    }
    .service-three__item{
        margin: 0 0 10px;
    }
}

