.team-details{
    background-color: $ogency-black;
    position: relative;
    padding: 120px 0;

    @media (max-width: 767px){
        padding: 80px 0;
    }

    &__image{
        position: relative;
        background-color: $ogency-black;

        img{
            mix-blend-mode: luminosity;
            max-width: 100%;
        }
    }
    &__content{
        position: relative;
        padding: 0 0 0 70px;

        @media (max-width: 991px){
            padding: 50px 0 0;
        }
        @media (min-width: 992px) and (max-width: 1199px){
            padding: 0 0 0 10px;
        }
    }
    &__title{
        font-size: 40px;
        line-height: 1;
        letter-spacing: -1.6px;
        margin: -6px 0 12px;

        @media (max-width: 767px){
            font-size: 30px;
        }
    }
    &__designation{
        display: block;
        font-size: 16px;
        margin-bottom: 22px;
    }
    &__social{
        position: relative;
        margin: 0 0 20px;

        a{
            display: inline-block;
            width: 55px;
            height: 55px;
            background-color: $ogency-black2;
            border-radius: 50%;
            text-align: center;
            color: $ogency-white;
            font-size: 20px;
            line-height: 55px;

            &:hover{
                background-color: $ogency-base;
            }
        }
        a+a{
            margin-left: 6px;
        }
    }
    &__text{
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 16px;
    }
    &__heading{
        font-size: 24px;
        letter-spacing: -.96px;
        margin-bottom: 34px;
    }
    &__lists{
        margin: 0 0 22px;
        padding: 0;
        display: block;
        list-style: none;

        li{
            display: block;
            list-style: none;
            position: relative;
            min-width: 50%;
            float: left;
            font-size: 16px;
            line-height: 30px;
            padding-left: 25px;
            margin-bottom: 6px;

            span{
                display: block;
                font-size: 14px;
                line-height: 30px;
                position: absolute;
                left: 0;
                top: 1px;
                color: $ogency-base;
            }
        }
    }
    &__progress{
        position: relative;
        margin-bottom: 13px;

        &--title{
            font-weight: 600;
            font-size: 18px;
            letter-spacing: -.72px;
            margin-bottom: 12px;
        }
        &--bar{
            position: relative;
            width: 100%;
            height: 9px;
            display: block;
            background-color: $ogency-black3;
        }
        &--inner{
            position: relative;
            display: block;
            width: 0px;
            height: 9px;
            background-color: $ogency-base;
            -webkit-transition: all 1500ms ease;
            -ms-transition: all 1500ms ease;
            -o-transition: all 1500ms ease;
            -moz-transition: all 1500ms ease;
            transition: all 1500ms ease;
        }
        &--number{
            position: absolute;
            right: 0;
            bottom: 18px;
            line-height: 26px;
            font-size: 16px;
            text-align: center;
            opacity: 0;
            -webkit-transition: all 500ms ease;
            -ms-transition: all 500ms ease;
            -o-transition: all 500ms ease;
            -moz-transition: all 500ms ease;
            transition: all 500ms ease;
        }

        .counted .count-text{
            opacity: 1;
        }
    }
}
/**-- Certificates --**/
.certificate{
    background-color: $ogency-black2;
    position: relative;
    padding: 120px 0;

    @media (max-width: 767px){
        padding: 80px 0;
    }

    &-left{
        position: relative;

        &__title{
            font-size: 36px;
            letter-spacing: -1.44px;
            line-height: 1.1;
            margin-bottom: 24px;

            @media (max-width: 767px){
                font-size: 30px;
            }
        }
        &__text{
            line-height: 30px;
            margin: 0 40px 0 0;

            @media (max-width: 1199px){
                margin: 0;
            }
        }
    }
    &-right{
        position: relative;
        margin: 0 0 0 -15px;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media (max-width: 767px){
            display: block;
            margin: 20px 0 0;
        }
        @media (min-width: 767px) and (max-width: 991px){
            justify-content: flex-start;
            margin: 40px 0 0;
        }

        li{
            list-style: none;
            position: relative;
            background-color: $ogency-black;
            display: inline-block;

            @media (max-width: 767px){
                margin: 20px 0 0;
            }

            img{
                max-width: 100%;
                mix-blend-mode: luminosity;
            }

            &:not(:last-of-type) {
                margin-right: 20px;
            }
        }
    }
}
/*-- Contact --*/
.contact-two{
    position: relative;
    background-color: $ogency-black;
    padding: 120px 0;

    @media (max-width: 767px){
        padding: 80px 0;
    }

    .container{
        max-width: 800px;
    }
    .contact-one__left{
        padding: 0;
    }
    .contact-one__input-box{
        margin-bottom: 20px;
    }
    .contact-one__input-box textarea,
    .contact-one__input-box input[type="text"], 
    .contact-one__input-box input[type="email"]{
        background-color: $ogency-black2;
    }
    .contact-one__input-box .bootstrap-select > .dropdown-toggle{
        background-color: $ogency-black2 !important;
    }
    .contact-one__form .row{
        --bs-gutter-x: 20px;
    }
}




