/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# variables
# Utility
# Common
# Hero Section
# Feature Section
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# variables
--------------------------------------------------------------*/

@import "variables/color";
@import "variables/font";
@import "variables/other";

/*--------------------------------------------------------------
# Utility
--------------------------------------------------------------*/

@import "utility/common";
@import "utility/media-query";
@import "utility/spacer";
@import "utility/button";
@import "utility/social-icons";
@import "utility/heading";

/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/

@import "common";

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero-section {
    background-color: $ogency-black;
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;

    @media (min-width: 1200px) {
        padding-bottom: 162px;
    }

    &__bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .container {
        position: relative;
    }

    &__logo {
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    &__content {
        text-align: center;

        @media (min-width: 992px) {
            text-align: left;
        }
    }

    &__title {
        margin: 0;
        font-size: 35px;
        line-height: 45px;
        letter-spacing: -1.2px;
        margin-top: 80px;
        margin-bottom: 27px;

        @media (min-width: 1200px) {
            margin-top: 183px;
            font-size: 60px;
            line-height: 70px;
            letter-spacing: -2.4px;
        }
    }

    &__text {
        margin: 0 0 30px;

        @media (min-width: 1200px) {
            margin-bottom: 51px;
            font-size: 20px;
            line-height: 36px;
        }

        br {
            display: none;

            @media (min-width: 768px) {
                display: inherit;
            }
        }
    }

    &__images {
        display: none;

        img {
            position: absolute;
            bottom: 0;
            right: 0;
            box-shadow: -5px 0px 40px 0px rgba(0, 0, 0, 0.15);
        }

        @media (min-width: 1200px) {
            display: block;
        }
    }

    &__arrow {
        width: 180px;
        height: 84px;
        background-image: url(../images/ogency-landing/hero-arrow-1.png);
        background-repeat: no-repeat;
        position: absolute;
        bottom: 188px;
        left: 39%;
        -webkit-animation-name: float-bob-y-2;
        animation-name: float-bob-y-2;
        -webkit-animation-duration: 4s;
        animation-duration: 4s;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        display: none;

        @media (min-width: 1200px) {
            display: block;
        }
    }

    &__badge {
        width: 131px;
        height: 131px;
        background-image: url(../images/ogency-landing/hero-badge-1.png);
        background-repeat: no-repeat;
        position: absolute;
        top: 120px;
        left: 47%;
        -webkit-animation: sunMove 10s linear infinite;
        animation: sunMove 10s linear infinite;
        display: none;

        @media (min-width: 1200px) {
            display: block;
        }
    }

}

@-webkit-keyframes sunMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    50% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    75% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes sunMove {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    25% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    50% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    75% {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@-webkit-keyframes float-bob-y-2 {
    0% {
        -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
        transform: translateY(0px) translateX(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(10px) translateX(10px) rotate(5deg);
        transform: translateY(10px) translateX(10px) rotate(5deg);
    }

    100% {
        -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
        transform: translateY(0px) translateX(0px) rotate(0deg);
    }
}

@keyframes float-bob-y-2 {
    0% {
        -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
        transform: translateY(0px) translateX(0px) rotate(0deg);
    }

    50% {
        -webkit-transform: translateY(10px) translateX(10px) rotate(5deg);
        transform: translateY(10px) translateX(10px) rotate(5deg);
    }

    100% {
        -webkit-transform: translateY(0px) translateX(0px) rotate(0deg);
        transform: translateY(0px) translateX(0px) rotate(0deg);
    }
}

/*--------------------------------------------------------------
# Feature Section
--------------------------------------------------------------*/

.features-two {
    background-color: #f6f6f6;
    padding-top: 80px;
    padding-bottom: 80px;

    @media (max-width: 991px) {
        padding-bottom: 50px;
    }

    &__box {
        text-align: center;
        position: relative;

        @media (max-width: 991px) {
            margin-bottom: 30px;
        }

        img {
            max-height: 52px;
            display: inline-block;
            transition: all 500ms linear;
            transition-delay: 0s;
            transition-delay: 0s;
            transform: scale(1);
        }

        &:hover img {
            transform: scale(0.9);
        }
    }

    &__title {
        font-size: 20px;
        line-height: 30px;
        color: $ogency-black;
        margin: 22px 0 0;
        font-weight: 700;
        font-family: 'DM Sans', sans-serif;
    }
}

/*--------------------------------------------------------------
# Demo Section
--------------------------------------------------------------*/
.demos-one {
    position: relative;
    padding: 120px 0 90px;

    @media (max-width: 767px) {
        padding: 80px 0 50px;
    }

    &__single {
        margin: 0 0 30px;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        position: relative;
        text-align: center;
        background-color: $ogency-white;
        box-shadow: 0px 10px 60px 0px rgba($ogency-black-rgb, 0.1);

        &:hover {
            -webkit-box-shadow: 0px 10px 60px 0px rgba($ogency-black-rgb, 0.2);
            box-shadow: 0px 10px 60px 0px rgba($ogency-black-rgb, 0.2);

            .demos-one__buttons {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }

            .demos-one__image img {
                opacity: .7;
            }
        }
    }

    &__image {
        position: relative;

        img {
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
            width: 100%;
            height: auto;
        }
    }

    &__buttons {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        opacity: 0;
        -webkit-transform: translateY(10%);
        transform: translateY(10%);
        -webkit-transition: opacity 500ms ease, -webkit-transform 500ms ease;
        transition: opacity 500ms ease, -webkit-transform 500ms ease;
        transition: opacity 500ms ease, transform 500ms ease;
        transition: opacity 500ms ease, transform 500ms ease, -webkit-transform 500ms ease;

        .ogency-btn {
            line-height: 1;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 14.5px;
            padding-bottom: 14.5px;
            font-size: 14px;
        }

        .ogency-btn+.ogency-btn {
            margin-left: 15px;
        }
    }

    &__text {
        text-align: center;
        padding-top: 29px;
        padding-bottom: 32px;

        &__title {
            font-size: 20px;
            line-height: 30px;
            margin: 0;
            color: $ogency-black;
            font-weight: 700;
            font-family: 'DM Sans', sans-serif;
        }
    }


}

/*--------------------------------------------------------------
#  Feature Section 02
--------------------------------------------------------------*/
.features-one {
    background-color: #f6f6f6;
    padding: 105px 0 70px;

    @media (max-width: 767px) {
        padding: 65px 0 30px;
    }

    &__title {
        font-size: 50px;
        letter-spacing: -2px;
        margin: 0 0 50px;
        color: $ogency-black;

        @media (max-width: 767px) {
            font-size: 35px;
            margin-bottom: 30px;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        @media (max-width: 1199px) {
            grid-template-columns: repeat(5, 1fr);
        }

        @media (max-width: 991px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: 767px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__box {
        text-align: center;
        position: relative;
        margin: 0 0 46px;

        @media (max-width: 767px) {
            margin-left: auto;
            margin-right: auto;
        }

        &__image {
            width: 131px;
            height: 135px;
            background-color: $ogency-white;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                max-height: 121px;
                display: inline-block;
                transition: all 500ms linear;
                transition-delay: 0s;
                transition-delay: 0s;
                transform: scale(1);
            }
        }

        &__title {
            max-width: 131px;
            font-size: 15px;
            color: $ogency-black;
            font-family: 'DM Sans', sans-serif;
            font-weight: 700;
            margin: 18px 0 0;
        }

        &:hover &__image img {
            transform: scale(0.9);
        }
    }
}

/*--------------------------------------------------------------
#  Footer Section 
--------------------------------------------------------------*/

.main-footer {
    background-color: $ogency-black;
    position: relative;
    padding-top: 108px;
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 767px) {
        padding-top: 70px;
    }

    .container {
        position: relative;
        z-index: 2;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $ogency-black;
        background-blend-mode: luminosity;
    }

    &__title {
        margin: 0 0 6px;
        font-size: 35px;
        letter-spacing: -1.8px;

        @media (min-width: 1200px) {
            font-size: 45px;
        }
    }

    &__text {
        margin: 0 0 26px;

        @media (min-width: 1200px) {
            font-size: 26px;
            margin: 0 0 36px;
        }
    }

    &__copyright {
        position: relative;
        border-top: 1px solid rgba($ogency-white-rgb, 0.1);
        margin: 99px 0 0;
        padding: 31px 0 34px;

        @media (max-width: 767px) {
            margin-top: 50px;
            padding: 21px 0 24px;
        }

        p {
            font-size: 16px;
            line-height: 30px;
            margin: 0;
        }
    }
}