body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:20px;
	color:#333;
	text-decoration:none;
	min-width:1200px;
	background:#ededed
}
html, body, div, span, applet, object, h1, h2, h3, h4, h5, h6, p, dd, dl, dt, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td, ul, li {
	margin:0;
	padding:0;
	border:none;
	outline:0
}
input, button, select, textarea {
	vertical-align:middle;
	outline:none;
	outline:none;
	margin:0;
	padding:0;
	border:none;
	font-family:Arial, Helvetica, sans-serif
}
input[type="button"], input[type="submit"], input[type="reset"] {
	-webkit-appearance:none
}
ol, ul, li {
	list-style:none
}
.blue, .blue a {
	color:#000
}
.clear {
	clear:both
}
a {
	color:#666;
	cursor:pointer
}
a:link, a:visited {
	text-decoration:none
}
a:hover {
	color:#000;
	text-decoration:none
}
.red, .red a {
	color:#f69
}
.c-cc {
	color:#bcbbbb
}
.c-9 {
	color:#999
}
.c-6 {
	color:#666
}
.green {
	color:#53c51b
}
.org, .org a {
	color:#ff3e03
}
.org2, .org2 a {
	color:#f37e01
}
.org3, .org3 a {
	color:#fb965e
}
.left {
	float:left
}
.right {
	float:right
}
input {
	padding:0
}
img {
	padding:0;
	margin:0
}
.f30 {
	font-size:30px;
	line-height:32px
}
.f24 {
	font-size:24px
}
.f22 {
	font-size:22px
}
.f18 {
	font-size:18px
}
.h18 {
	line-height:15px
}
.f16 {
	font-size:16px
}
.f14 {
	font-size:14px
}
.f12 {
	font-size:12px
}
.txt {
	border:1px solid #e5e5e5;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif
}
.f_bottom30 {
	padding-bottom:30px;
	overflow:hidden
}
.f_bottom20 {
	padding-bottom:20px
}
.f_bottom10 {
	padding-bottom:10px
}
.m_top40 {
	margin-top:40px
}
.m_top30 {
	margin-top:30px
}
.m_top20 {
	margin-top:20px
}
.m_top10 {
	margin-top:10px
}
.m_top5 {
	margin-top:5px
}
.w1200 {
	width:1200px;
	margin:0 auto;
	clear:both
}
.webbox {
	width:1160px;
	margin:0 auto;
	background:#fff;
	padding-left:20px;
	padding-right:20px;
	overflow:hidden
}
.top {
	height:32px;
	border-bottom:1px solid #e5e5e5;
	line-height:32px
}
.header {
	padding-top:20px;
	padding-bottom:20px;
	height:56px;
	overflow:hidden
}
.menu {
	float:left;
	margin-left:5px;
	line-height:56px;
	height:56px
}
.menu li {
	float:left;
	margin-left:60px
}
.search {
	width:330px;
	height:36px;
	background:#f3f3f3;
	border-radius:30px;
	overflow:hidden
}
.search span {
	float:left;
	margin-left:10px;
	margin-top:8px
}
.search .txt {
	float:left;
	border:none;
	background:none;
	margin-left:10px;
	width:280px;
	height:36px
}
.fooder {
	height:50px;
	line-height:50px
}
.banner {
	overflow:hidden
}
#full-screen-slider {
	width:100%;
	height:500px;
	float:left;
	position:relative
}
#slides {
	display:block;
	width:100%;
	height:500px;
	flist-style:none;
	padding:0;
	margin:0;
	position:relative;
	z-index:8
}
#slides li {
	display:block;
	width:100%;
	height:100%;
	list-style:none;
	padding:0;
	margin:0;
	position:absolute
}
#slides li a {
	display:block;
	width:100%;
	height:100%;
	text-indent:-9999px
}
#pagination {
	display:block;
	list-style:none;
	position:absolute;
	bottom:20px;
	z-index:99;
	margin:0;
	width:180px;
	left:45%
}
#pagination li {
	display:block;
	list-style:none;
	width:30px;
	height:8px;
	float:left;
	margin-left:15px;
	border:1px solid #999
}
#pagination li a {
	display:block;
	width:100%;
	height:100%;
	padding:0;
	margin:0;
	text-indent:-9999px
}
#pagination li.current {
	background:#fff;
	border:1px solid #fff
}
.content {
	padding-bottom:30px;
	padding-top:10px;
	overflow:hidden;
	text-align:center
}
.rollBox {
	overflow:hidden;
	width:1160px;
	margin:0 auto;
	margin-top:30px;
	margin-bottom:10px
}
.rollBox dl {
	width:230px;
	float:left;
	margin-left:25px;
	margin-right:25px
}
.rollBox dt {
	margin-bottom:20px
}
.rollBox .f12 {
	line-height:16px;
	font-size:12px;
	color:#666;
	margin-top:5px
}
.rollBox .LeftBotton {
	width:25px;
	height:68px;
	background:url("ico_left.png")/*tpa=http://www.gra-assiociation.com/images/ico_left.png*/ no-repeat;
	overflow:hidden;
	float:left;
	display:inline;
	margin:30px 0 0 0;
	cursor:pointer
}
.rollBox .RightBotton {
	width:25px;
	height:68px;
	background:url("ico_right.png")/*tpa=http://www.gra-assiociation.com/images/ico_right.png*/ no-repeat;
	overflow:hidden;
	float:right;
	display:inline;
	margin:30px 0 0 0;
	cursor:pointer
}
.rollBox .Cont {
	width:1070px;
	overflow:hidden;
	float:left;
	margin-left:14px;
	margin-right:10px;
	padding-top:10px
}
.rollBox .ScrCont {
	width:10000000px
}
.rollBox #List1, .rollBox #List2 {
	float:left
}
.box {
	position: relative;
	background: url("bj_02.jpg")/*tpa=http://www.gra-assiociation.com/images/bj_02.jpg*/ right bottom no-repeat #fff;
	overflow: hidden;
	padding-bottom: 30px;
	padding-top: 0px;
	width: 1200px;
	min-height: 400px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
.box .f30 {
	margin-bottom:5px
}
.Identification {
	text-align:center;
	padding-top:30px;
	overflow:hidden
}
.Identification .f30 {
	padding-bottom:20px
}
.search_box {
	overflow:hidden;
	padding-left:20px;
	padding-right:20px
}
.search_box .left {
	width:320px;
	position:relative
}
.search_box .txt01 {
	position:absolute;
	width:234px;
	height:24px;
	top:134px;
	left:27px;
	text-align:center;
	font:normal 16px/24px Arial, Helvetica, sans-serif;
	text-align:center
}
.search_box .right {
	width:830px;
	padding-top:30px
}
.search_box .search .txt {
	width:270px
}
.search_box ul {
	overflow:hidden;
	width:100%;
	float:left
}
.search_box li {
	border-bottom:1px dashed #ddd;
	padding-top:5px;
	padding-bottom:5px;
	overflow:hidden
}
.search_box dl {
	width:100%;
	float:left;
	padding-top:20px;
	overflow:hidden;
	color:#999;
	font-size:10px;
	border-top:1px solid #eceaea
}
.table {
	border-collapse:collapse
}
.table th {
	border-bottom:1px solid #eceaea;
	font-size:12px
}
.table td {
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:1px solid #eceaea
}
.table table th {
	border:none;
	padding:0
}
.table table td {
	border:none;
	padding:0
}
.zsbox {
	width:1600px;
	margin:0 auto;
	background:url("zs.html")/*tpa=http://www.gra-assiociation.com/images/zs.jpg*/ no-repeat top center;
	height:1900px;
	position:relative
}
.zsbox span, .zsbox div {
	position:absolute;
	color:#333;
	font-size:11px;
	line-height:18px
}
.zsbox .img01 {
	width:333px;
	height:170px;
	left:0;
	top:1346px
}
.zsbox .img02 {
	width:402px;
	height:228px;
	left:768px;
	top:1153px
}
.zsbox .img03 {
	width:402px;
	height:151px;
	left:768px;
	top:1532px
}
.zsbox .wz01 {
	width:305px;
	height:158px;
	left:15px;
	top:1175px
}
.zsbox .wz02 {
	width:305px;
	height:72px;
	left:17px;
	top:1534px
}
.zsbox .wz03 {
	width:375px;
	height:83px;
	left:1208px;
	top:1214px;
	line-height:21px
}
.zsbox .wz04 {
	width:375px;
	height:83px;
	left:1208px;
	top:1368px;
	line-height:21px
}
.zsbox .wz05 {
	width:375px;
	height:83px;
	left:1208px;
	top:1514px;
	line-height:21px
}
.zsbox li {
	text-align:right;
	overflow:hidden;
	width:100%;
	float:left;
	font-family:Arial, Helvetica, sans-serif
}
.zsbox .wz-top {
	width:400px;
	height:24px;
	left:770px;
	top:1020px;
	text-align:center;
	font-size:22px;
	font-family:Arial, Helvetica, sans-serif
}
