body {
  overflow-x: hidden;
  direction: rtl;
}

.owl-carousel {
  direction: ltr;
}

.owl-carousel .owl-nav,
.owl-carousel .owl-dots,
.owl-carousel .owl-item {
  direction: rtl;
}

.bootstrap-select .dropdown-toggle .filter-option {
  text-align: right;
}

.list-unstyled {
  padding-right: 0;
}

.project-one .text-end {
  text-align: left !important;
}

@media (max-width: 767px) {
  .project-one .text-end {
    text-align: right !important;
  }
}
