
.testimonial-wrapper{
    position: relative;
    @media #{$md}{
        padding-top: 20px;
    }
    @media #{$sm}{
        padding-top: 0px;
    }
    @media #{$xs}{
        padding-top: 0px;
    }
}
.testimonial-area{
    padding-top: 100px;
    padding-bottom: 100px;
    @media #{$xs}{
        padding-bottom: 85px;
    }
    .single-testimonial {
        background: #F1FBFF;
        padding: 45px 100px 36px 100px;
        border-radius: 4px;
        @media #{$sm}{
            padding: 45px 20px 40px 20px
        }
        @media #{$xs}{
            padding: 45px 20px 40px 20px
        }
    }
    .testimonial-caption{
        @include flexbox();
        @include justify-content(center);
        img{
            padding-bottom: 22px !important;
            position: absolute;
            top: -3px;
        }
        p{
            font-size:22px;
            color: $heading_color;
            color:#000000;
            line-height: 45px;
            line-height: 1.5;
            margin-bottom: 37px;

            @media #{$lg}{
                margin-bottom: 15px;
            }
            @media #{$sm}{
                width: 99%;
                font-size:19px;
            }
            @media #{$xs}{
                font-size: 17px;
                text-align: justify;
            }
        }
    }
    .founder-img {
        margin-right: 20px;
    }
    .founder-text {
        text-align: left;
        span{
            color: #000000;
            font-weight: 600;
            line-height: 1.5;
            font-size: 16px;
            margin-bottom: 5px;
            display: block;
        }
        p {
            color: #5E5E5E;
            font-size: 14px;
            @media #{$xs}{
                font-size: 12px;
            }
        }
    }
}

/* Homepage1 Testimonial */
.h1-testimonial-active{
    button{
        &.slick-arrow {
            position: absolute;
            top: 50%;
            left: -19px;
            transform: translateY(-50%);
            background: none;
            border: 0;
            border-radius: 50%;
            padding: 0;
            z-index: 2;
            height:40px;
            width: 40px;
            line-height: 40px;
            cursor: pointer;
            background: #fff;
            -webkit-transition: .4s;
            -o-transition: .4s;
            transition: .4s;
            box-shadow: 0px 5px 10px rgba(0, 0, 0,.05);
            &:hover{
                background: #fff;
                i{
                    color: #4C1E51;
                }
            }
            i{
                color:rgba(112, 112, 112,.2);
                position: relative;
                top: 3px;
            }
        }
        &.slick-next {
            left: auto;
            right: -18px;
        }
    }
}

.slick-initialized .slick-slide {
    outline: 0;
}

