.appointment-section { 
    background-color: $white;    
    &.style-02 {
        .common-title {
            .heading {                
                position: absolute;
                top: -15%;
                left: 50%;
                transform: translateX(-50%);
                color: $white;
            }
        }
        .appointment-content {
            .tab-content {
                .appointment-form-area {
                    padding-left: 5%;
                    padding-right: 5%;
                }
            }
        }
    }    
    .common-title {
        .heading {
            margin: auto;
        }
    }
    .appointment-content {
        border: 1px solid rgba(133, 150, 167, .36);
        border-radius: 20px;
        width: 100%;
        padding: 100px 0 95px 0;                
        &::after {
            content: "";
            display: table;
            clear: both;
        }  
        .tab-content {       
            display: flex;   
            flex-wrap: wrap;   
            .appointment-img-area {
                max-width: 335px;
                width: 40%;                        
                img {
                    width: 100%;
                    border-radius: 0 20px 20px 0;
                }
                .doctor-info {
                        padding-left: 40px;
                    .name {
                        .heading-06 {
                            color: $semiblack;
                            font-size: 16px;
                            line-height: 26px;
                            font-family: var(--body-font);
                            font-weight: 600;
                            padding-top: 10px;
                            margin: 0;       
                        }
                    }
                    .designation {
                        span{
                            color: var(--paragraph-color);
                            font-size: 14px;
                            line-height: 24px;
                            font-family: var(--body-font);
                            font-weight: 500;
                        }
                    }
                }
            }
            .appointment-form-area {
                width: 60%;
                margin: 0 auto;   
                input::placeholder {
                    color: $semiblack;
                    font-family: $montserrat;
                    font-size: 11px;
                    font-weight: 300;
                    font-style: italic;   
                }
                .main-btn-wrap {
                    display: block;
                    margin: 20px auto 0;
                }
                .form-control{
                    border: none;                          
                    border-radius: 24px;
                    background-color: $inputcolor; 
                    padding: 10px 30px;
                    height: 50px;
                }
            }  
            
        }
        
    }    
    
}

.nav-pills .nav-link.active {
    color: $semiblack;
    background-color: transparent;
}

.calendar-icon {
    position: relative;                            
    .icon, i {
        position: absolute;
        color: $semiblack;
        right: 9px;
        top: 50%;
        font-size: 10px;
        transform: translateY(-50%);
    }    
}  
.custom-date-picker {
    .calendar-icon  {
        &.style-02 {
            .form-control { 
                background-color: transparent;
                border: 1px solid $inputcolor;
            }
        }
        .form-control {
            border: none;
            border-radius: 24px;
            margin: 30px 0;
            background-color: $inputcolor;
            padding: .375rem 30px;
        }
        input::placeholder {
            color: $semiblack;
            font-family: $montserrat;
            font-size: 11px;
            font-weight: 300;
            font-style: italic;   
        } 
    }
}

