/*--------------------------------------------------------------
	## Header
--------------------------------------------------------------*/

header { 
    padding: 45px 0;
    &.plastic-header-style-02 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    &.slider-style-05  {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; 
    }
    &.header-style-3 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        margin: 0;
        .search-area {
            .search-icon {
                color: $white; 
                &::before {
                    background: $white;
                }
            }
            .menu-toggle {
                span {
                    background-color: $white;  
                }
            }
        } 
    } 
    &.plastic-header-style {
        .search-area { 
            .search-icon {
                color: $semiblack;   
                &:hover {
                    color: $sliderBg; 
                }    
            }
            .menu-toggle {
                span {
                    background-color: $semiblack;   
                }
                &:hover {
                    span {
                        background-color: $sliderBg; 
                    }
                }
            }
        }
    }
    &.plastic-header-style-02 {
        .search-area {
            .search-icon {
                color: $semiblack;   
                &:hover {
                    color: $sliderBg; 
                }    
            }
            .menu-toggle {
                margin-right: 6px; 
                span {
                    background-color: $semiblack;   
                }
                &:hover {
                    span {
                        background-color: $sliderBg; 
                    }
                }      
            }
        } 
    } 
    .header-area {
        display: flex;                  
        width: 100%;
        padding: 0px 70px 0 85px; 
        justify-content: space-between;
    .logo-area{
        z-index: 9;
        width: 15%;
        min-width: 250px;
    }        
    .navbar-area {
        z-index: 9;
        width: 80%;
        }
    }  
    .navbar-expand-lg .navbar-collapse {
        justify-content: center;
    }   
    .search-area {
        width: 5%;
        display: flex;
        flex-wrap: nowrap;   
        align-self: center;
        z-index: 9;
        justify-content: flex-end;
        .search-icon {
            color: $semiblack;
            line-height: 20px;
            font-weight: 600;
            font-family: Flaticon;            
            @include transition($transition);
            cursor: pointer;

            &:hover {
                color: var(--main-color-one);
            }
         }
          .menu-toggle {
            padding: 1px;
            margin-left: 12px;
            cursor: pointer;
            span {
                display: block;
                width: 18px;
                height: 2px;
                background-color: $iconcolor;
                transition: all 0.3s;
                margin: 3px 5px; 
                @include transition($transition);                   
                &:nth-child(2){
                width: 12px;                      
                }
            }
            &:hover{
                span {
                    background-color: $pink; 
                    &:nth-child(2){                           
                        transform: translateX(50%);               
                    }
                }
            } 
        }
    }       
    .social-icon {
            margin-right: 3%;
            float: right;
            height: 95%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-direction: column;       
            justify-content: flex-end;
        a {
            i {
                color: $semiblack;
                padding: 14px;
                font-size: 14px;
                -webkit-transition: .5s;
                -o-transition: .5s;
                transition: .5s;
                &:hover {
                    color: $pink;
                }
            } 
        }          
    }    
        
 }
 .full-width-header {
     position: relative;
     background-size: cover;
     background-position: center center;
     z-index: 9;
     height: 100%;
     min-height: 500px;
 }
 .header-bg {
    background: $semiwhite;
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;
    height: 80vh;
    z-index: 0;
    min-height: 600px;
    border-radius: 0 0 0 20px;
 }

 .header-heading-style {
    background-color: #F5F8F9;
    min-height: 420px;
    height: 40vh ;
    border-radius: 0 0 0 20px;
}