.quality-section {
       .common-title {       
        .heading {
            font-family: var(--body-font);
            font-size: 26px;
            line-height: 36px;
            font-weight: 500;
        }
    }
    .content-area {
        padding-bottom: 40px;
        // padding: 0 30px 40px 0;
    }
}