.neurology-section  {
    .neurology-content-area {      
        padding: 0 50px 0 0;        
        .common-title {
            .heading {
                margin: 0;
            }
        }
        .neurology-content{
            p {
                color: $hotblack;
                line-height: 30px;
            }
        }
    }
    .neurology-img-area {
        img {
            border-radius: 20px;
        }
    }
}