$ogency-color: var(--ogency-color);
$ogency-color-rgb: var(--ogency-color-rgb);
$ogency-base: var(--ogency-base);
$ogency-base-rgb: var(--ogency-base-rgb);
$ogency-black: var(--ogency-black);
$ogency-black-rgb: var(--ogency-black-rgb);
$ogency-black2: var(--ogency-black2);
$ogency-black2-rgb: var(--ogency-black2-rgb);
$ogency-black3: var(--ogency-black3);
$ogency-black3-rgb: var(--ogency-black3-rgb);
$ogency-text-dark: var(--ogency-black);
$ogency-text--dark-rgb: var(--ogency-black-rgb);
$ogency-white: var(--ogency-white);
$ogency-white-rgb: var(--ogency-white-rgb);
