$ogency-font: var(--ogency-font);
$heading-font: var(--heading-font);

$body-size: 15px;
$letter-space: 0;
$body-line-height: 1.875;
$body-font-weight: 500;
$heading-size: 20px;
$heading-size2: 36px;
$heading-size3: 46px;
$heading-size4: 100px;
$heading-font-weight: 800;