/*===========================================================
                    Side form popup
============================================================*/
.appointment-section.style-02 {
    background-color: transparent;
}
.modal-design .address-area .address-content {
    padding: 0 20px;
}

.side-form-popup .popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(rgba($black,.9), rgba($black, 0.9)) ;
    opacity: 0;
    transition: all 0.3s;
    z-index: 10;
    visibility: hidden; 
    display: none;
    overflow-y: auto;   
  }

  .modal-design {
    width: 100%;
    // min-height: 500px;
    // margin: 100px auto;
    border-radius: 20px;
    position: relative;  
    .appointment-section .appointment-content {
        border: none;
    }  
    .modal-wrapper {
        width: 50%;
        height: 100%;
        background-color: $white;
        border-radius: 20px;
        border-radius: 20px;
        margin: auto;      

    .location-popup-design {
        position: relative;
        border: 1px solid rgba($black,.2);
        border-radius: 20px;
        .row {
            padding: 0;
            margin: 0;
        }   
        .close-button {
            position: absolute;
            height: 40px;
            width: 40px;
            color: $white;
            background-color: rgba($pink, 1);
            right: -30px;
            top: -30px;
            border-radius: 50%;
            font-size: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 100;
            transition: all 0.3s;  
            z-index: 1;
            &:hover {
                background-color: rgba($pink, .8);
            }
        }
    }
    }
  }
.side-form-popup, .modal-design {
    border-radius: 20px;
    .logo-area {
        position: absolute;
        top: 5%;
        left: 4.5%;
        z-index: 1;
    }
    #google-map, #google-map2, .modal-image {
        width: 60%;
        height: 430px;
        border-radius: 20px 0 0 20px;
    }
    .modal-image {
        img {
            width: 100%;
            height: 100%;
            border-radius: 20px 0 0 20px;
        }
    }
    .address-area {
        width: 40%;
        position: relative;
        .address-content {
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translateY(-50%);
            width: 80%;
            .heading-04{
                color: var(--heading-color);
                font-size: 18px;
                line-height: 28px;
                font-weight: 500;
            }
            
            ul {
                padding: 0;
            }
            .items {
                color: var(--paragraph-color);
                font-size: 12px;
                line-height: 22px;
                font-weight: 300;
                display: flex;
                justify-content:space-between;
            }
        }
    }
    .modal-img {                
        width: 100%;
        position: relative;
        z-index: 0;
       img {
        border-radius: 20px;
        width: 100%;
       }
       .play-area {
           position: absolute;
           top: 50%;
           left: 50%;
           transform: translate(-50%, -50%);
           z-index: 1;
       }
    }
    .appointment-section .container .appointment-content {
        border: none;
        padding: 50px 0;
    }
    .appointment-section  {
        width: 100%;
        border-radius: 20px;
    }
}
 
.popup-show {
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    transform: scale(1) !important;
} 


.opening-popup,
.location-popup,
.form-popup {
  max-width: 900px; 
  width: 90%;
  background-color: var(--white);
//   margin: 20vh auto;
  position: relative;
  transition: all 0.3s;
  display: none;
  opacity: 0;
  border-radius: 20px;
  margin: auto;
  top: 50%;
  transform: translateY(-50%) !important;
}

.opening-popup,
.location-popup{
    .row {margin: 0;}
}
.close-popup {
  position: absolute;
  height: 40px;
  width: 40px;
  color: $white;
  background-color: rgba($pink, 1);
  right: -30px;
  top: -30px;
  border-radius: 50%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
  transition: all 0.3s;  
    &:hover {
        background-color: rgba($pink, .8);
    }
}

