.contact-section {
    background-position: center center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    // min-height: 500px;
    height: 100%;
    .form-area {
        .common-title {
            padding-bottom: 30px;
            .heading {
                margin: 0;
            }
        }
        .form-top {
            ul {
                margin-bottom: 25px;
                padding-left: 0;
                li {
                    color: $gray2;
                    font-size: 14px;
                    font-family: var(--body-font);
                    font-weight: 500;
                    line-height: 30px;
                    span {
                        width: 100px;
                        display: inline-block;
                        color: $hotblack;
                    }
                }
            }
        }

    }
}

.form-bottom {
    .form-group {
        label {
            font-size: 14px;
            font-family: var(--body-font);
            font-weight: 500;
            line-height: 30px;
            color: $hotblack;
        }
        .form-control {
            background-color: rgba($hotgray,0.15);
            border: none;
            border-radius: 25px;
            padding: 10px 20px;
            resize: none;
        }
        .text-character {
            font-size: 10px;
            text-align: right;
            display: block;
            margin-top: 5px;
        }
    }
    .main-btn-wrap {
        display: flex;
        justify-content: space-between;
        .main-btn{
            min-width: 200px;   
            margin-left: 5px;
            margin-right: 5px;
            &.border  {
                background: transparent;
                color: $pink;
                border: 1px solid $pink !important;                
            }     
        }                  
     
    }
}