/*---------------------------
        Counter Item 
-----------------------------*/
.single-couterup {
    border: 8px solid #edf6ff;
    border-radius: 20px;
    text-align: center;
    padding: 50px 0 45px;
    .icon {
        width: 60px;
        height: 60px;
        background: #F5F7F8;
        border-radius: 50%;
        line-height: 60px;
        margin: auto;
        color: var(--main-color-one);

        i {
            font-size: 35px;                       
        }
    }
    .content {
        .count-num {
            font-size: 55px;
            font-family: var(--body-font);
            line-height: 65px;
            color: $semiblack;
            font-weight: 600;
            padding: 15px 0;
            display: inline-block;
        }
        .title {
            font-size: 16px;
            font-family: var(--body-font);
            line-height: 22px;
            color: $gray3;
            font-weight: 500;
        }
    }
}

