/*----------------------------------------
            Custom Calender
------------------------------------------*/

.calendar {
	display: block;
}
.calendar .form-control {
    font-size: 11px;
    color: $semiblack;
    font-style: italic;
    padding: 19px 30px !important;
}
label {
	display: block;
	margin-bottom: 0;
}
input:focus {outline: none;}
#ui-datepicker-div {
	display: none;
	background-color: $white;
	box-shadow: 0 0.125rem 0.5rem rgba($black,.1);
	margin-top: 0.25rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
}
.ui-datepicker-calendar thead th {
	padding: 0.25rem 0;
	text-align: center;
	font-size: 0.75rem;
	font-weight: 400;
	color: $semiblack;
}
.ui-datepicker-calendar tbody td {
	width: 2rem;
	text-align: center;
	padding: 0;
}
.ui-datepicker-calendar tbody td a {
	display: block;
	border-radius: 0.25rem;
	line-height: 2rem;
	transition: 0.3s all;
	color: $semiblack;
	font-size: 0.875rem;
	text-decoration: none;
}
.ui-datepicker-calendar tbody td a:hover {	
	background-color: rgba($pink, .5);
}
.ui-datepicker-calendar tbody td a.ui-state-active {
	background-color: var(--main-color-one);
	color: $white;
}
.ui-datepicker-header a.ui-corner-all {
	cursor: pointer;
	position: absolute;
	top: 0;
	width: 2rem;
	height: 2rem;
	margin: 0.5rem;
	border-radius: 0.25rem;
	transition: 0.3s all;
}
.ui-datepicker-header a.ui-datepicker-prev {	
	left: 10px;	
	background-repeat: no-repeat;
	background-size: 0.5rem;
	background-position: 50%;
    &::after {
        content: "\f108";
        font-family: Flaticon;
        font-size: 10px;
    }
}
.ui-datepicker-header a.ui-datepicker-next {
	right: -10px;
	background-repeat: no-repeat;
	background-size: 10px;
    background-position: 50%;
    &::after {
        content: "\f109";
        font-family: Flaticon;
        font-size: 10px;
    }
}
.ui-datepicker-header a>span {
	display: none;
}
.ui-datepicker-title {
	text-align: center;
	line-height: 2rem;
	margin-bottom: 0.25rem;
	font-size: 0.875rem;
	font-weight: 500;
	padding-bottom: 0.25rem;
}



