.progressbar-wrapper {
    position: relative;
    z-index: 0;
    width: 220px;
    margin: auto;
    .active-controller, .total-controller {
        position: absolute;
        top: -15px;           
        color: var(--main-color-one);
        font-size: 20px; 
    }
    .active-controller {
        left: -25px;
    }
    .total-controller {
        right: -15px;        
    }
    .progressbar-line-wrap {
        position: relative;
        width: 200px;
        .full-line {
            width: 100%;
            height: 1px;
            background-color: var(--main-color-one);
            display: block;
        }
        .active-line {
            width: 50%;
            height: 3px;
            background-color: var(--main-color-one);
            display: block;
            position: absolute;
            top: -1px;
        }
    }

}