
/*------------------------------------
     Overlay Close btn Design
 -------------------------------------*/
.overlay-content {
    .closebtn {  
        font-size: 40px;
        cursor: pointer;
        color: $black;
        // background: $white;
        // box-shadow: 0 0 10px rgba($black,.16);
        border-radius: 50%;
        position: absolute;     
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
    }
}

.searchOverlay {
    position: relative;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-image: linear-gradient(rgba($black,.9), rgba($black, 0.9)) ;
    overflow-x: hidden;   
    @include transition($transition);
    .logo-area {
        .logo {
            padding: 45px 0 0 85px;
        }
    }

    .overlay-content {
        width: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .closebtn {
            background: $white;
            left: 100%;
            bottom: 100%;
        }
        .Search-section{   
            position: relative;               
            input[type="text"] {
                padding: 40px;
                font-size: 14px;
                width: 100%;
                background: transparent;
                border: 2px solid $pink;
                border-radius: 50px;
                font-family: $montserrat; 
                font-weight: 300;
                color:  $white;
             }
             input[type="text"]::placeholder {
                color: $white;
             }    
             button[type="submit"] { 
                padding: 15px;
                background: $pink;
                font-size: 15px;   
                border: none;
                cursor: pointer;                          
                color:  $white;
                width: 55px;
                border-radius: 50%;
                position: absolute;    
                top: 50%;
                right: 3%;
                transform: translateY(-50%);
            }
        } 
    }
}


/*-----------------------------
    Overlay Side Nav design
 ------------------------------*/
 .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-image: linear-gradient(rgba($black,.9), rgba($black, 0.9)) ;
    overflow-x: hidden;   
    @include transition($transition);

    .sidenav-wrap {
        display: flex;
        width: 100%;
        .logo-area {
            width: 70%;
            .logo {
                padding: 45px 0 0 85px;
            }
        }
        .overlay-content {
            width: 30%;
            .overlay-menu {
                width: 100%;
                height: 100vh;
                background-color: $white;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .logo {
                    img {
                        height: 55px;
                    }
                }
                .side-menu {
                    padding: 0;
                    .items {
                        .itme-nav {
                            color: #111;
                            font-size: 18px;
                            line-height: 28px;
                            font-family: var(--heading-font);
                            font-weight: 500;
                            padding: 10px 30px;
                            display: block;
                            @include transition($transition);
                            &:hover {
                                background-color: var(--main-color-one);
                                color: $white;
                            }
                        }
                    }
                }
                .social-icon {
                    display: flex;
                    justify-content: center;
                    .icon {
                        color: $white;
                        font-size: 15px;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        display: block;
                        margin: 10px;
                        background-color: rgba($black, 0.9);
                        border-radius: 50%;
                        @include transition($transition);

                        &:hover {
                            background-color: var(--main-color-one);
                        }
                    }
                }

            }
            .closebtn {
                top: 50px;
                right: 30px;
            }
        }
    }
 }   
 .form-control {
    padding: .375rem 2.75rem;
}








